<div id="container">
  <ion-grid>
    <form (ngSubmit)="login()"  [formGroup]="loginForm">

    <ion-row>
      <ion-col>
        <ion-item lines="none">
          <ion-label position="floating">Email</ion-label>
          <ion-input type="text" required name="email" formControlName="email"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col>
        <ion-item lines="none">
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password" required name="password" formControlName="password"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item lines="none">
          <ion-button expand="full" type="submit" size="large" color="primary">
          LOGIN
          </ion-button>
        </ion-item>
      </ion-col>
    </ion-row>
    </form>
  </ion-grid>
</div>